/* main.py */
QMainWindow {
    background-color: lightgrey;
}
/* main_menu.py | game_menu.py | profile_menu.py |results_menu.py |settings_menu.py */
QPushButton {
    color: black;
    background-color: darkgrey;
    font-family: "Lucida Handwriting", serif;
    font-size: 26px;
    border-radius: 12px;
}

QPushButton:hover {
    color: black;
    background-color: grey;
    border: 2px solid #303030;
}
QLabel {
    font-family: "Lucida Handwriting", serif;
    border-radius: 12px;
    font-size: 34px;
    color: black;
}
QFrame {
    border-radius: 12px;
}
/* main_menu.py | profile_menu.py | settings_menu.py | results_menu.py */
QLabel#title_label {
    color: black;
    font-size: 52px;
}
QLabel#rights_label {
    font-family: Arial, serif;
    color: black;
    font-size: 12px;
}
/* settings_menu.py */
QComboBox {
    background-color: darkgrey;
    font-family: "Lucida Handwriting", serif;
    font-size: 26px;
    border-radius: 12px;
}
QFrame#result_frame {
    background-color: darkgrey;
}
/* game_menu.py */
QPushButton#start_game_button {
    background-color: transparent;
    font-family: "Lucida Handwriting", serif;
    font-size: 100px;
}
QFrame#numpad_frame {
    background-color: lightgrey;
    font-size: 56px
}
QLabel#question_number_label {
    background-color: lightgrey;
}
QLabel#time_left_label {
    background-color: lightgrey;
}
QLabel#question_label {
    background-color: lightgrey;
    font-size: 100px;
}
QLabel#input_label {
    background-color: lightgrey;
    font-size: 62px;
}