/* Default values */
QMainWindow {
    background-color: #303030;
}

QPushButton {
    color: black;
    background-color: darkgrey;
    font-family: "Lucida Handwriting", serif;
    border-radius: 12px;
}
QPushButton:hover {
    color: black;
    background-color: grey;
    border: 2px solid #303030;
}

QLabel {
    font-family: "Lucida Handwriting", serif;
    color: black;
    border-radius: 34px;
}

QComboBox {
    background-color: darkgrey;
    font-family: "Lucida Handwriting", serif;
    border-style: none;
}

QFrame {
}
/* main_menu.py | profile_menu.py | settings_menu.py | results_menu.py */
QLabel#title_label {
    color: lightgrey;
}
/* main_menu.py */
QLabel#rights_label {
    font-family: Arial, serif;
    color: grey;
}
/* settings_menu.py */
QLabel#setting_frames {
    background-color: darkgrey;
    border-radius: 12px;
}
/* game_menu.py */
QPushButton#start_game_button {
    background-color: transparent;
    font-family: "Lucida Handwriting", serif;
}

QLabel#game_labels {
    background-color: lightgrey;
}
/* result_menu.py */
QFrame#result_frame {
    background-color: darkgrey;
}
