/* Default values */
QMainWindow {
    background-color: white;
}

QPushButton {
    color: black;
    background-color: lightgrey;
    font-family: "Lucida Handwriting", serif;
    border-radius: 12px;
}
QPushButton:hover {
    color: black;
    border: 3px solid white;
}

QLabel {
    color: black;
    font-family: "Lucida Handwriting", serif;
}

QComboBox {
    color: black;
    background-color: lightgrey;
    font-family: "Lucida Handwriting", serif;
    border-style: none;
}
/* main_menu.py */
QLabel#rights_label {
    font-family: Arial, serif;
}
/* settings_menu.py */
QLabel#setting_frames {
    background-color: lightgrey;
    border-radius: 12px;
}
/* game_menu.py */

QPushButton#start_button:hover {
    border: 10px solid green;
}
QLabel#game_labels {
    background-color: lightgrey;
    border-radius: 12px;
}
QFrame#game_frames {
    background-color: darkgrey;
    border-radius: 12px;
}

